// #############################################################################
// Body
// #############################################################################
body{
  max-width: $outerContent;
  margin: 0 auto;
  background-color: white;
}