// #############################################################################
// Layout
// #############################################################################
$gutter: 30px;
$outerContent: 1800px;
$innerContent: 1200px;
$golden-ratio: 1.61803398875;


// #############################################################################
// Fonts
// #############################################################################
$monospace: "Consolas", monospace;


// #############################################################################
// Colors
// #############################################################################
$red:   #ff0033;
$green: #00ff66;
$blue:  #3366ff;
$gray: #ccc;

$color--selected-background: $red;
$color--selected-text: white;
$color--horizontal-rule: $gray;